*.pyc
*~
objs
res
*.swp
found/old-*
check_isa
Test_Makefile
testing_log_*
gen_test_makefile_log_*
statistics_*.log
csmith_statistics_*.log

# Ignore tags
tags

# Binary files
yarpgen
*.a
*.o
*.so
objs
res
